@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css');

html {
	font-family: 'Pretendard Variable', Pretendard, -apple-system,
		BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
		'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

/* body {
    font-family: Pretendard, 'Noto Sans KR', sans-serif;
} */

nav {
    /* 레이아웃에 대한 스타일(5~10줄) */
    display: flex;
    align-items: center;
    padding-left: 120px;
    /* gap: 40px; */
    height: 100px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: flex-start; */
    /* gap: 10px; */
    /* background-color: #00000050; */
}

.navItem {
    /* 텍스트 스타일(3~8줄) */
    padding-right: 40px; /* padding-left, padding-right, padding-top, padding-bottom */
    margin: 10px;
    color: #403930;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 30px */
    /* line-height: 1.5; */
    letter-spacing: -0.2px;
}

/* div {
    white-space: 
} */


header{
    max-width: 1366px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 210px;
    padding: 100px 120px;
}

.info{
    display: flex;
    flex-direction: column;
    width: 570px;
    gap: 40px;
    max-width: 1366px;
    /* height: 662px;  */
    /* padding-right: px; */
}

/* typing */
.wrapper {
    /* height: 100vh; */
    /*This part is important for centering*/
    display: grid;
    place-items: center;
}
.typing-demo {
    width: 11ch;
    animation: typing 2s steps(15), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid;
}
@keyframes typing {
    from {
        width: 0;
    }
}  

@keyframes blink {
    50% { border-color: transparent }
    /* from{
        width: 0;
    } */
    /* 0%, 100% { opacity: 1; }
    50% { opacity: 0; } */
}

.badge{
    /* display: flex; */
    padding: 12px 24px;
    /* justify-content: center;
    align-items: center;
    gap: 10px; */
    border-radius: 10px;
    background: #E6EEFF;

    width: fit-content;
    /* 텍스트 속성 */
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 36px */

    margin-bottom: 40px;
}

header h1{
    margin: 0;
    color: #333;
    /* font-family: Pretendard; */
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 80px */
    letter-spacing: -1.28px;

}

header h1 em{
    background: linear-gradient(99deg, #001F8F 3.58%, rgba(36, 255, 203, 0.50) 90.34%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: normal;
}

.headerLinkContainer{
    display: flex; 
    /* flex-direction: column; */
    align-items: flex-start;
    gap: 16px;
}

.headerLink1{
    text-decoration: none;
    display: flex;
    width: 270px;
    padding: 24px 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 16px;
    background: #000;
    border-radius: 16px;
    border: 4px solid #000;
    color: #E6EEFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 36px */
}

.headerLink2{
    text-decoration: none;
    display: flex;
    width: 270px;
    padding: 24px 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 16px;
    border: 4px solid #403930;
    color: #E6EEFF;
    color: #403930;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 36px */
}

.imageContainer{
    margin-left: 10px;
}

.profileImage{
    /* margin-top : 90px; */
    align-content: left;
    border-radius: 500px;
    border: 10px solid #BCF2F9;
    width: 355.624px;
    height: 350px;
    flex-shrink: 0;
    background: url(https://source.unsplash.com/random/?programming) lightgray 50% / cover no-repeat;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.colorBox{
    padding: 100px 120px;
    align-items: normal;
    background: linear-gradient(96deg, rgba(189, 210, 255, 0.40) 1.72%, rgba(116, 224, 215, 0.40) 158.93%);
}

h2{
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: -0.8px;
}

.aboutMeContainer{
    display: flex;
    flex-direction: column;
}

section h2 em{
    position: relative;
}

.aboutMe1{
    font-style: normal;
}

.aboutMe2{
    /* height: 172px; */
    margin-top: 20px;
    flex-shrink: 0;
    align-self: stretch;
    color: #333;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.selfgrowth_icon{
    width: 120px;
    height: 120px;
    position: absolute;
    bottom: 55px;
    left: 110px;
}

.teckSection{
    padding: 100px 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 80px;
}

.techStackContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.teckCenter{
    text-align: center;
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: -0.8px;
}
.teckExplain{
    padding-top: 24px;
    text-align: center;
    color: #333;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 130% */
}

.languageContainer{
    display: grid;
    row-gap: 40px;
    column-gap: 80px;
    overflow-x: auto;
    grid-template: repeat(2, 1fr) / repeat(6, 1fr);
}
/* project */
.projectSection{
    padding: 80px 120px 120px 120px;
    justify-content: center;
    align-items: center;
    background: rgba(244, 244, 244, 0.50);
}

.projectContainer{
    display: flex;
    /* height: 1362px; */
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex: 1 0 0;
}
.projectBox{
    display: flex;
    padding: 20px 40px 20px 40px;
    align-items: center;
    gap: 40px;
    align-self: stretch;
    background: #E6EEFF;
    border-radius: 24px;
}
.Title1{
    color: #403930;
    font-family: Pretendard;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 50px */
    letter-spacing: -0.8px;
}
.projectSubBox1{
    display: flex;
    min-width: 320px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}
.projectContent1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
}
.projectContent2{
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    gap: 24px;
}
.projectLink{
    color: #00446A;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 30px */
    text-decoration-line: underline;
}
.projectTitle{
    color: #403930;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 36px */
}
.projectExplain{
    color: #403930;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
}
.projectSubBox2{
    display: flex;
    gap: 20px;

}
.projectImage1{
    width: 100.153px;
    height: 193.433px;
    flex-shrink: 0;
    border-radius: 16.08px;
    background: lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
}

/* peer */
.peerSection{
    max-width: 1360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    /* 얘를 없애야 swiper 작동 */
    /* align-items: center; */
    gap: 40px;
    padding: 80px 120px 120px 120px;
}


.peerBoxContainer{
    justify-content: center; 
    /* align-items: center; */
}

.peerBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    height: 300px;
    padding: 0px 39px;
    margin: 5px;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    background: #FAFAFA;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
}

.peerContents{
    color: #403930;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
}
.peerName{
    color: #403930;
    text-align: center;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 125% */
}

.thanksContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* max-width: 1366px; */
    padding: 64px 120px;
    gap: 10px;
    background: #E6EEFF;
}
.thanksContent{
    align-self: stretch;
    color: #403930;
    font-family: Pretendard;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 60px */
    letter-spacing: -0.96px;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #FAFAFA;
    flex-shrink: 0;
    padding: 53px 0px 53px 0px;
    gap: 24px;
}
.snsIconArea{
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    gap: 35px;
}
.snsIcon{
    width: 30px;
    height: 30px;
    fill: var(--Dark, #21243D);
}
.copyRight{
    color: var(--Dark, #21243D);
    text-align: center;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    /* position:relative; */
}
.contactBox{
    position:absolute;
    right:50px;
    bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 165px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 50px;
    border: 10px solid #BBD5F7;
    background: linear-gradient(98deg, #BED3FF -10.83%, #D2F3E5 51.79%, #FFEBD9 110.76%);
}
.contact{
    color: rgba(64, 57, 48, 0.80);
    text-align: center;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.email{
    color: rgba(64, 57, 48, 0.80);
    text-align: center;
    font-size: 12px;
}

